<ion-view view-title="Settings">
	<ion-content>
		
		<div class="list padding">
			<div class="item item-divider">Show Age (18 - {{sett.maxAge}})</div>

			<div class="item range range-positive">
				18<input type="range" name="age" min="18" max="60" value="25"
							ng-model="sett.maxAge"
							on-release="sett.changeMaxAge()">60
			</div>

			<div class="item item-divider">Show Me</div>

			<ion-toggle toggle-class="toggle-balanced"
						ng-model="sett.men"
						ng-checked="{{sett.men}}"
						ng-change="sett.selectMen()"
						>Men
			</ion-toggle>
			<ion-toggle toggle-class="toggle-balanced"
						ng-model="sett.women"
						ng-checked="{{sett.women}}"
						ng-change="sett.selectWomen()"
						>Women
			</ion-toggle>

			<button class="button button-block button-assertive" ng-click="sett.logout()">Logout</button>

		</div>

	</ion-content>
</ion-view>